body{
	line-height: 1.5;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
	margin:0;
	box-sizing: border-box;

}

#bootstrap-overrides h1{
color: white;
  margin: auto;
  display: grid;
  justify-content: center;
  padding-top: 0%;
}

.menu-btn{
  background-color: #303231;
  position: absolute;
  color: #ef50a5;
  font-size: 35px;
  margin: 25px;
  cursor: pointer;
}

.popup-container{
  width: 400px;
  height: 30vh;
  color: rgb(37, 84, 141);
  background-color: #b8bec2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;

  box-shadow: 5px 5px 10px 700px rgba(46, 45, 45, 0.8);
  
}


.popup-container .sm-icon{
  padding: none;
  border: none;
  background-color: inherit;

}

.popup-container .sm-icon:hover{
  color: #f8f8f8;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.popup-container a{
  color: inherit;
}


.close-btn{
  color: white;
  cursor: pointer;
}
.close-btn:hover{
  color: #ef0b85;
}
.play-btn{
  color: white;
  margin-left: 45%;
}

.side-bar h1{
  color: white;
}
.side-bar {
  z-index: 2;
  background-color: #1b1a1b;
  backdrop-filter: blur(15px);
  width: 250px;
  height: 100vh;
  left: -250px;
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  opacity: 80%;
}
.side-bar::-webkit-scrollbar {
  width: 0px;
}

.side-bar.active{
  left: 0;
 }


header{
  background: #33363a;
}
h1{
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 13px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: #d4dad9;
}

.menu{
  color: white;
}
.menu-link{
  color: white;
}

.side-bar .menu{
  width: 100%;
  margin-top: 30px;
 }
 .side-bar .menu .menu-item{
  position: relative;
  cursor: pointer;
 }
 .side-bar .menu .menu-item a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
 }

 .side-bar .menu .menu-item a:hover{
  background: #3c3e3f;
  transition: 0.3s ease;
 }
 .side-bar .menu .menu-item i{
  margin-right: 15px;
 }
 
 .side-bar .menu .menu-item a .dropdown{
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
 }
 .side-bar .menu .menu-item .sub-menu{
  background: #262627;
  display: none;
 }
 .side-bar .menu .menu-item .sub-menu a{
  padding-left: 80px;
 }

 .share-btn{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    padding-left: 80px;
 }

 .share-btn:hover{
  background: #3c3e3f;
  transition: 0.3s ease;
 }

 .rotate{
  transform: rotate(90deg);
 }

.row{
	display: flex;
	flex-wrap: wrap;
    
}
.row2{
	display: flex;
	flex-wrap: wrap;
    
}
.row3{
  justify-content: center;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
.gallery{
    width: 100%;
    display: inline-block;
    min-height: 100vh;
    background-color: #303231;
    padding: 100px 0;
    text-transform: uppercase;
 }
.gallery .gallery-filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
 }
.gallery .gallery-filter .filter-item{
   color: #ffffff;
   font-size: 17px;
   border: 2px solid white;
   text-transform: uppercase;
   display: inline-block;
   border-radius: 20px;
   margin-right: 8px;
   cursor: pointer;
   padding: 8px 20px 8px 20px;
   line-height: 1.2;
   transition: all 0.3s ease;
 }


 .container{
     max-width: 1170px;
     margin:auto;
 }

 .gallery .gallery-item {
   height: auto;
   width: calc(100% / 3);
   padding: 15px;
 }
.gallery .gallery-item img{
    
    width: 100%;
    height: auto;
    border: 3px solid #d4dad9;
    border-radius: 8%;
}

.gallery .gallery-item-inner{
    width: 100%;
  border: 1px solid #d4dad9;
  border-radius: 10%;
  height: 100%;
}
.gallery .gallery-item-inner img{
    height: 100%;
    object-fit: cover;
    position: relative;
}

.gallery .gallery-filter .filter-item.active{
    color: white;
    border-color : #16b5ef;
    background: #16b5ef;
  }

.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}


@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.gallery .gallery-item.hide{
	display: none;
}
.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
.share-social{
  margin-top: 25%;
  background-color: #d4dad9;
  color: #0c465b;

  
}


.gallery .sm-btn{
  margin-right: 7px;
  cursor: pointer;
}

.gallery .share-social h5{
  
 
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.gallery .gallery-item.hide{
	display: none;
}

@media(max-width: 491px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 667px){
    .gallery .gallery-item{
		width: 100%;
	}
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}

.container-upload{
  display: grid;
  margin: 146px 30% 0px 30%;

  
}
.container-upload label{
  display: grid;
  padding-top: 10px;
}
.container-upload select{
  padding-bottom: 0.5rem;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

#description{
  padding-bottom: 1rem;
}
#comments{
padding-bottom: 3rem;
}
#fav-song{
padding-bottom: 3rem;
}

.submit-btn{
  margin-right: 1rem;
  
}
.container-upload form .row{
  display: inline-flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
}